*.vimbackup
**/*.vimbackup
.netrwhist
repos/**
.cache/**
rplugin/python3/__pycache__/**
texput.log
*.vimbackup
.netrwhist
NERDTreeBookmark
p.vim
NERDTreeBookmark
tags
__pycache__
daytimeconf.vim
/vimfiles.list
